<div class="container mt-5 mb-5">
    <div class="login-container">
        <h2 class="text-center mb-4">Login</h2>
        <div id="loginForm">
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Enter username">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Enter password">
            </div>
            <button onclick="loginUser(event)" class="btn btn-primary btn-block">Login</button>
        </div>

        <div class="text-center mt-3">
            <p>Don't have an account? <a href="/register">Register</a></p>
        </div>
    </div>
</div>