<div class="container mt-5 my-5">
    <div class="register-container">
        <h2 class="text-center mb-4">Create an Account</h2>
        <form id="registerForm">
            <div class="mb-3">
                <input type="text" class="form-control" name="fullName" placeholder="Full Name">
            </div>
            <div class="mb-3">
                <input type="email" class="form-control" name="email" placeholder="Email">
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" name="password" placeholder="New Password">
            </div>
            <div class="mb-3">
                <label for="accountType">Account Type:</label><br>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="isAdmin" id="admin" value="admin">
                    <label class="form-check-label" for="admin">Admin</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="isAdmin" id="customer" value="customer" checked>
                    <label class="form-check-label" for="customer">Customer</label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Sign Up</button>
        </form>

        <div class="text-center mt-3">
            <p>Already have an account? <a href="/login" class="btn-link">Log In</a></p>
        </div>
    </div>
</div>