<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top border-bottom">
    <div class="container">
        <a class="navbar-brand" href="/"><i class="fa-solid fa-cart-shopping mx-2 cart-icon"></i>Ecommerce</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa-solid fa-bars cart-icon"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item" id="addProductNavItem">
                    <a class="nav-link d-none" href="/addProducts">Add Product</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active mycart" href="/mycart">Mycart</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link active" href="/about">AboutUs</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link active" href="/contact">Contact</a>
                </li>
            </ul>

            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <span id="usernameLogin" class=""></span>
                    <i class="fa-solid fa-user"></i>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li><a class="dropdown-item" href="/login">Login</a></li>
                    <li><a class="dropdown-item" href="/register">Register</a></li>
                    <li><a class="dropdown-item" onclick="logOut(event)" href="">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>