
<div class="view-cart mt-5">
    {% for product in products %}
    
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">Price: ${{ product.price }}</p>
            <p class="card-text">{{ product.description }}</p>

            <button class="add-to-cart-btn" data-product-id="{{ product.id }}">Add to Cart</button>
            <button class="add-to-cart-btn" data-product-id="{{ product.id }}">Add to Cart 2</button>
        </div>
    </div>

    {% endfor %}
</div>