<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
      <a class="navbar-brand" href="#">ECommerce App</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"><button type="button" class="btn btn-light">Products</button></a>
        </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"><button type="button" class="btn btn-light">Add Product</button></a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"><button class="btn btn-light" id="view-cart-btn">View Cart</button></a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"><button type="button" class="btn btn-light">About</button></a>
          </li>
        </ul>
        <span class="navbar-text">
            Breathe Life into Your World
        </span>
      </div>
    </div>
  </nav>

